a {
    text-decoration: none;
}
body {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #88bdbc;
}
header,
main {
    padding: 3rem 5rem;
    color: #181717;

}
.header-block {
    display: flex;
    justify-content: space-between;
}
.name-line {
    font-weight: bold;
    font-size: 2rem;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.nav-item {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.25rem;
    border: 1px solid #181717;
    transition: all .2s;
    cursor: pointer;
    color: #181717;
}
.nav-item:hover {
    background-color: #181717;
    color: #ffffff;
}
.title-hobbies{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.content-block{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    width: 700px;
}
.hobby-img-block{
    max-width: 700px;

}
.hobby-img-block img{
    width: 100%;
}
.hobby-title{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.skill-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.my-skills{
    padding-bottom: 4rem;
}
.list-skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #112D32;
    font-weight: 500;
}